html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

* {
  border-radius: 50px;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
  }

  header, .lastFooter {
    background-color: darkgreen;
    color: whitesmoke;
    padding-bottom: 1px;
    padding-top: 1px;
    font-family: sans-serif;
  }

  img {
    /* width: 1px; */
    border-color: black;

  }
  
  /* To keep everything in center */
  .centered {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    font-family: sans-serif;
  }

  li {
    text-align: left;
  }

  .links {
    text-decoration: none;
  }

  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .container {
    width: 65%;
  }

  /* unvisited link red */
a:link {
  color: #FF0000;
}

/* visited link dark blue */
a:visited {
  color: darkblue;
}

/* mouse over link pink */
a:hover {
  color: #FF00FF;
}

/* selected link light green */
a:active {
  color: lightseagreen;
}
