.mugshot {
    max-width: 500px;
    width: 50%;
    height: auto;
    border: 0.5px solid transparent;
    display : flex;
}


header, .lastFooter {
    background-color: darkgreen;
    color: whitesmoke;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: sans-serif;
}

.start {
    align-content: center, space-around;
}

.profile-image {
    display: flex;
    flex: 1
}

.intro {
    display: flex;
    flex: 2;
    padding-left: 1rem;
    flex-flow: column wrap
}

/* To keep everything in center */
.centered {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    font-family: sans-serif;
}

.links {
    text-decoration: none;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 /* visited link dark blue */
 a:visited {
    color: darkblue;
}
  
/* mouse over link pink */
a:hover {
    color: #FF00FF;
}
  
/* selected link light green */
a:active {
    color: lightseagreen;
}

form {
    padding-right: 8px;
    display: block;
    margin-top: 0em
}


/* Contact Form Design */

form {
    padding-right: 8px;
}
  
form label {
    display: block;
}
  
form input, 
form textarea {
    width: 100%;
    margin-bottom: 20px;
}
  
form textarea {
    height: 160px;
}

button {
    border: none !important;
}
